* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Didot";
  background-color: #000;
}
body section {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}
body section p {
  font-family: "Didot";
  font-size: 23px;
  color: #fff;
  text-align: left;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  body section p {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  body section p {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    line-height: 20px;
  }
}
body section span {
  color: #edc463;
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  body section span {
    line-height: 50px;
  }
}
@media screen and (max-width: 375px) {
  body section span {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 30px;
  }
}
body .menu-desplegado {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #141414;
  background-image: url("../img/fondo-menu.png");
  background-size: cover;
  display: none;
  z-index: 4;
  top: -300px;
  opacity: 0;
  padding-top: 300px;
  margin-top: -300px;
}
body .menu-desplegado .cerrar {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/close.png");
  background-size: cover;
  margin-left: 94%;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  body .menu-desplegado .cerrar {
    margin-left: 90%;
  }
}
@media screen and (max-width: 375px) {
  body .menu-desplegado .cerrar {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 85%;
  }
}
body .menu-desplegado ul {
  width: 35%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  list-style: none;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  body .menu-desplegado ul {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  body .menu-desplegado ul {
    height: 77%;
    padding-top: 100px;
  }
}
@media screen and (max-width: 375px) {
  body .menu-desplegado ul {
    padding-top: 0;
  }
}
body .menu-desplegado ul a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  font-family: 'Italiana', serif;
  text-align: center;
  line-height: 70px;
  letter-spacing: 3px;
}
@media screen and (max-width: 375px) {
  body .menu-desplegado ul a {
    line-height: 55px;
    letter-spacing: 1px;
  }
}
body .menu-desplegado ul a:hover {
  color: #edc463;
}
body .menu {
  width: 100%;
  height: 110px;
  margin: auto;
  list-style: none;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.8);
}
@media screen and (max-width: 1024px) {
  body .menu {
    height: 19%;
  }
}
@media screen and (max-width: 768px) {
  body .menu {
    height: 12%;
  }
}
@media screen and (max-width: 375px) {
  body .menu {
    height: 90px;
  }
}
body .menu .menu-icono {
  width: 45px;
  height: 45px;
  background-image: url("../img/menu.png");
  background-size: cover;
  margin-top: 35px;
  display: block;
  position: absolute;
  margin: 35px;
}
@media screen and (max-width: 375px) {
  body .menu .menu-icono {
    width: 35px;
    height: 35px;
    margin: 25px;
  }
}
body .menu .titulo {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 50%;
}
@media screen and (max-width: 375px) {
  body .menu .titulo {
    width: 40%;
  }
}
body .menu .titulo img {
  width: 250px;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  body .menu .titulo img {
    width: 60%;
  }
}
@media screen and (max-width: 375px) {
  body .menu .titulo img {
    width: 180px;
  }
}
body .inicio {
  width: 100%;
  height: 100%;
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
body .inicio .cont-1 {
  position: absolute;
  width: 80%;
  height: 30%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  body .inicio .cont-1 {
    width: 100%;
  }
}
body .inicio .cont-1 h1 {
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 66px;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
  margin-bottom: 100px;
  font-family: "Didot";
}
@media screen and (max-width: 375px) {
  body .inicio .cont-1 h1 {
    font-family: 'Playfair Display', serif;
    padding-top: 10px;
    font-size: 40px;
    margin-bottom: 0px;
  }
}
body .inicio .cont-1 .kue-imagen {
  display: block;
  width: 400px;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .inicio .cont-1 .kue-imagen {
    padding-top: 80px;
  }
}
@media screen and (max-width: 375px) {
  body .inicio .cont-1 .kue-imagen {
    width: 80%;
    padding-top: 40px;
  }
}
body .quienes-somos .cont-2 {
  position: absolute;
  width: 90%;
  height: 48%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  body .quienes-somos .cont-2 {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  body .quienes-somos .cont-2 {
    height: 60%;
  }
}
@media screen and (max-width: 375px) {
  body .quienes-somos .cont-2 {
    width: 100%;
    height: 60%;
  }
}
body .quienes-somos .cont-2 .tex-que-es-kuerary {
  width: 50%;
  height: 50%;
  padding-top: 8%;
}
@media screen and (max-width: 768px) {
  body .quienes-somos .cont-2 .tex-que-es-kuerary {
    width: 100%;
    padding-top: 0;
  }
}
@media screen and (max-width: 375px) {
  body .quienes-somos .cont-2 .tex-que-es-kuerary {
    width: 100%;
    height: 40%;
  }
}
body .quienes-somos .cont-2 .img-que-es-kuerary {
  width: 50%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-top: 3%;
}
@media screen and (max-width: 768px) {
  body .quienes-somos .cont-2 .img-que-es-kuerary {
    width: 100%;
    padding-top: 20px;
  }
}
@media screen and (max-width: 375px) {
  body .quienes-somos .cont-2 .img-que-es-kuerary {
    width: 100%;
    height: 40%;
    padding-top: 0px;
  }
}
body .quienes-somos .cont-2 .img-que-es-kuerary img {
  width: 550px;
  height: 400px;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  body .quienes-somos .cont-2 .img-que-es-kuerary img {
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  body .quienes-somos .cont-2 .img-que-es-kuerary img {
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  body .quienes-somos .cont-2 .img-que-es-kuerary img {
    width: 350px;
    height: 270px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
body .descripcion .cont-3 {
  position: absolute;
  width: 90%;
  height: 70%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  top: 100px;
}
@media screen and (max-width: 1024px) {
  body .descripcion .cont-3 {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  body .descripcion .cont-3 {
    top: 130px;
  }
}
@media screen and (max-width: 375px) {
  body .descripcion .cont-3 {
    width: 100%;
    top: 40px;
  }
}
body .descripcion .cont-3 .conoce-personas {
  width: 70%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .descripcion .cont-3 .conoce-personas {
    width: 100%;
  }
}
body .descripcion .cont-3 .imagen-iphone {
  width: 25%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .descripcion .cont-3 .imagen-iphone {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  body .descripcion .cont-3 .imagen-iphone {
    width: 100%;
  }
}
body .descripcion .cont-3 .imagen-iphone img {
  width: 250px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .descripcion .cont-3 .imagen-iphone img {
    padding-top: 40px;
  }
}
@media screen and (max-width: 375px) {
  body .descripcion .cont-3 .imagen-iphone img {
    width: 40%;
    padding-top: 20px;
  }
}
body .confidencial .cont-4 {
  position: absolute;
  width: 90%;
  height: 60%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  body .confidencial .cont-4 {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  body .confidencial .cont-4 {
    height: 80%;
    top: 80px;
  }
}
@media screen and (max-width: 375px) {
  body .confidencial .cont-4 {
    width: 90%;
    height: 60%;
    top: 0;
  }
}
body .confidencial .cont-4 .reg-forma-segura {
  width: 70%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .confidencial .cont-4 .reg-forma-segura {
    width: 100%;
  }
}
body .confidencial .cont-4 .img-reg-conf {
  width: 25%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .confidencial .cont-4 .img-reg-conf {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  body .confidencial .cont-4 .img-reg-conf {
    width: 100%;
  }
}
body .confidencial .cont-4 .img-reg-conf img {
  width: 250px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 375px) {
  body .confidencial .cont-4 .img-reg-conf img {
    width: 100%;
    padding-top: 30px;
    width: 45%;
  }
}
body .eventos {
  left: 0;
  right: 0;
  top: 0;
}
body .eventos .cont-5 {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  body .eventos .cont-5 {
    width: 90%;
    height: 90%;
  }
}
body .eventos .cont-5 .interactua {
  width: 60%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .eventos .cont-5 .interactua {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  body .eventos .cont-5 .interactua {
    padding-top: 40px;
  }
}
body .eventos .cont-5 .img-interactua {
  width: 40%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .eventos .cont-5 .img-interactua {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  body .eventos .cont-5 .img-interactua {
    width: 100%;
  }
}
body .eventos .cont-5 .img-interactua img {
  width: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}
@media screen and (max-width: 1024px) {
  body .eventos .cont-5 .img-interactua img {
    width: 400px;
  }
}
@media screen and (max-width: 375px) {
  body .eventos .cont-5 .img-interactua img {
    width: 290px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
  }
}
body .aplicacion .cont-6 {
  position: absolute;
  width: 90%;
  height: 70%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  top: 100px;
}
@media screen and (max-width: 768px) {
  body .aplicacion .cont-6 {
    height: 80%;
  }
}
@media screen and (max-width: 375px) {
  body .aplicacion .cont-6 {
    width: 100%;
    height: 60%;
    top: 0;
  }
}
body .aplicacion .cont-6 .desc-app {
  width: 60%;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .aplicacion .cont-6 .desc-app {
    width: 100%;
  }
}
body .aplicacion .cont-6 .img-app {
  width: 23%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body .aplicacion .cont-6 .img-app {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  body .aplicacion .cont-6 .img-app {
    width: 100%;
  }
}
body .aplicacion .cont-6 .img-app img {
  width: 240px;
}
@media screen and (max-width: 768px) {
  body .aplicacion .cont-6 .img-app img {
    width: 240px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
  }
}
@media screen and (max-width: 375px) {
  body .aplicacion .cont-6 .img-app img {
    width: 36%;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 40px;
  }
}
body .preg-fre .cont-7 {
  position: absolute;
  width: 90%;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
body .preg-fre .cont-7 .tex-preg-frec {
  width: 60%;
}
@media screen and (max-width: 768px) {
  body .preg-fre .cont-7 .tex-preg-frec {
    width: 100%;
  }
}
body .preg-fre .cont-7 .img-preg {
  width: 40%;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}
@media screen and (max-width: 768px) {
  body .preg-fre .cont-7 .img-preg {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  body .preg-fre .cont-7 .img-preg {
    width: 100%;
  }
}
body .preg-fre .cont-7 .img-preg img {
  width: 370px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}
@media screen and (max-width: 375px) {
  body .preg-fre .cont-7 .img-preg img {
    width: 80%;
  }
}
body .contacto {
  background-image: url("../img/fondo-registro.png");
  background-size: cover;
}
body .contacto .cont-8 {
  position: absolute;
  width: 50%;
  height: 70%;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  padding-top: 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  body .contacto .cont-8 {
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  body .contacto .cont-8 {
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  body .contacto .cont-8 {
    width: 80%;
  }
}
body .contacto .cont-8 .formulario {
  width: 80%;
  height: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 735px) {
  body .contacto .cont-8 .formulario {
    width: 100%;
  }
}
body .contacto .cont-8 .formulario h1 {
  font-size: 50px;
  color: #fff;
  font-family: didot;
  margin-bottom: 20px;
  font-family: "Didot";
}
@media screen and (max-width: 375px) {
  body .contacto .cont-8 .formulario h1 {
    font-size: 30px;
    text-align: center;
  }
}
body .contacto .cont-8 .formulario input {
  width: 90%;
  height: 20%;
  padding: 15px;
  margin: 10px;
  font-size: 16px;
  border: none;
}
body .contacto .cont-8 .formulario #form-name::-webkit-input-placeholder {
  color: #919189;
}
body .contacto .cont-8 .formulario #form-name.rojo::-webkit-input-placeholder {
  color: #a8262a;
}
body .contacto .cont-8 .formulario #form-mail::-webkit-input-placeholder {
  color: #919189;
}
body .contacto .cont-8 .formulario #form-mail.rojo::-webkit-input-placeholder {
  color: #a8262a;
}
body .contacto .cont-8 .formulario .send {
  width: 100px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 19px;
  margin: 15px auto;
  padding: 9px;
  display: block;
  font-family: sans-serif;
  margin-top: 50px;
  border: solid 1px;
fon
}
body .contacto .cont-8 .formulario .send:hover {
  background-color: rgba(255,255,255,0.2);
}
body .contacto .cont-8 .formulario #dat-obli {
  font-family: Didot;
  text-align: center;
  font-size: 24px;
  display: none;
}
@media screen and (max-width: 375px) {
  body .contacto .cont-8 .formulario #dat-obli {
    font-size: 15px;
    padding-top: 10px;
  }
}
